// Setting up body font

body {
  font-family: 'Lato', sans-serif;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.relative {
  position: relative;
}

.abs {
  position: absolute;
}

.animated {
  transition: all .35s;
}

// Atomic styles for display
.block {
  display: block;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

.rounded-1x {
  border-radius: $radius;
}

.rounded-2x {
  border-radius: 8px;
}

.rounded-4x {
  border-radius: 16px;
}

// Atomic styles for Circle Userpic
.bg-circle {
  @include bg-cover-circle;
}

.bg-circle-trick {
  @include bg-cover-circle;
  @include height-percentage-trick(100%);
}

// Atomic styles for object-fit
.fitted-image {
  @extend .width-100p;
  @extend .fit-cover;
  width: 70vw;
  max-width: 70vw;
  max-height: 70vh;

  @include media-lg {
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
  }
}

// Layout
.layout-container {
  @extend .row-center-center;
  @extend .width-100p;
  @extend .height-100vh;
}

// Image Container
.image-container {
  @extend .col-center-center;

  @include media-not-lg {
    max-width: 70vw;
    max-height: 70vh;
  }

  @include media-lg {
    max-width: 90vw;
    max-height: 80vh;
  }
}

// Animated Button
.animated-button {
  @extend .font-weight-400;
  @extend .relative;
  @extend .animated;
  @extend .block;

  @extend .padding-v-0x5;
  @extend .padding-h-2;
  @extend .text-center;

  font-size: 1.25rem;
  line-height: 1.2;

  appearance: none;

  color: #333;
  border: 1px solid #333;
  letter-spacing: 2px;
}

.animated-button span {
  @extend .relative;
  z-index: 2;
}

.animated-button:after{
  @extend .abs;
  @extend .animated;

  top: 0;
  left: 0;
  width: 0;
  content: "";

  height: 100%;
  background: #ff003b;
}

.animated-button:hover{
  color: #fff;
}

.animated-button:hover:after{
  width: 100%;
}

// Loading animation

.pulsating {
  background: rgba(255, 82, 82, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 1)));
}