@mixin height-percentage-trick($height-percentage) {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: $height-percentage;
  }

  flex-shrink: 0;
}


@mixin bg-cover-circle {
  border-radius: 999em;
  flex-shrink: 0;
  @include bg-cover;
}

@mixin bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

