// Size variables (own)
$grid-space-lg-h:             1rem;
$grid-space-lg-v:             1rem;

$page-max-width:              1440px;
$page-min-width:              320px;

$page-breakpoint-sm:          480px;
$page-breakpoint-md:          768px;
$page-breakpoint-ipad-pro:    1024px;

$radius: 4px;

$sb-space-start: 0    !default;
$sb-space-end:   8    !default;
$sb-space-step:  0.25 !default;